:root{
    margin:0;
    border:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.71vw;
}
a{
    text-decoration: none;
    color:white;
}
header{
    /* width: 1980px; */
    width: 95vw;
    /* height: 1133px; */
    height: 57.2vw;
    background-color: #131210;
}
header img:first-child{
    width: 2.8vw;
    height: 2.5vw;
    margin-top: 3vw;
    margin-left: 5vw;
    float:left;
}
.up_menu{
    width: 38vw;
    padding-top: 3.6vw;
    margin-left: 55vw;
    list-style-type: none;
}
.up_menu a li{
    width: 10vw;
    float:left;
}
.up_menu a li img{
    width: 1.7vw;
    height: 1.4vw;
    padding-top: 9vw;
    padding-right: 0.7vw;
    margin-left: 0px;
}
.up_menu a:nth-of-type(3) li{
    width: 6.3vw;
    height: 1.8vw;
    font-size: 1rem;
    color:#135ec5;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1.5vw;
    background: white;
    margin-top: -2.5%;
    padding-top: 2.5%;
    margin-left: 2.5%;
}
header span{
    vertical-align: top;
}
header p span{
    background: #11100e;
    border:3vw solid #12110f;
    border-radius: 7vw;
    font-weight: bold;
}
header p{
    width: 71%;
    height: 14vw;
    color: #131210;
    font-size: 11.6rem;
    padding-top:9vw;
    padding-left: 10vw;
    margin:0;
    text-transform: uppercase;
    text-align: center;
}
#sh_logo{
    margin-left: 15vw;
}
header img:last-of-type{
    width: 40vw;
    margin-top: -9.1vw;
    margin-left: 30.6vw;
}
header div{
    width: 95vw;
    margin:auto;
    padding-top:0.5vw;
    font-size: 1.6rem;
    color: white;
    text-align: center;
}
.anketa{
    width: 85vw;
    height: 2.8vw;
    color:#3c3c3c;
    padding-top:2.7vw;
    padding-left:0;
    margin-left: 9.6vw;
    list-style-type: none;
    font-size: 2rem;
}
.anketa li{
    width: 16.7vw;
    float:left;
    margin-right: 6vw;
    padding-bottom: 1.1vw;
    border-bottom: 2px solid #3c3c3c;  
}
.anketa li:last-of-type{
    width: 9vw;
    height: 1.1vw;
    background-color: #135ec5;
    color:white;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1.5vw ;
    padding-top: 1.1vw;
}
.dots{
    width: 0.5vw;
    height: 1vw;
    /* color:#3c3c3c; */
    list-style-type: none;
    float:right;
    margin-right: 4vw;
    margin-top:-16.7vw;
}
.dots li::before{
    display: inline-block;
    content: "";
    width: 0.5vw;
    height: 0.5vw;
    background-color: #3c3c3c;
    border-radius: 50vw;
}
.dots li:nth-child(1)::before, .dots li:nth-child(3)::before{
    background-color: #3c3c3c;
}
.dots li:nth-child(2):before{
    background-color: #135ec5;
}
/* -------------------------main------------------ */
main{
    width: 95vw;
    height: 80vw;
    background-color: white;
}
main div{
    padding-top: 3vw;
    margin-left: 47vw;
    font-size: 2rem;
    color:#c1c1c1;
}
.car_labels{
    width: 90vw;
    height: 3.6vw;
    padding-top: 3.4vw;
    margin-left: 3.2vw;
    list-style-type: none;
}
.car_labels li{
    width: 4vw;
    float:left;
}
.car_labels li>img:not(img:nth-child(5)){
    height: 3.4vw;
}
#chevr{
    height: 2.4vw;
}
.car_labels li:not(li:last-of-type){
    padding-right: 9.4vw; 
}
.car_labels li:not(li:nth-child(3)){
    opacity: 0.5;
}
main>img{
    width: 22.4vw;
    height: 11.3vw;
    margin-left: 11vw;
    padding-top: 10.9vw;
    float:left;
    padding-bottom: 8.1vw;
}
main div:nth-of-type(2){
    font-size: 3rem;
    font-weight: bold;
    padding-top: 10.6vw;
    margin-left: 50vw;
    color:#135ec5;
}
main div:nth-of-type(3){
    width: 35vw;
    height: 3.3vw;
    font-size: 1rem;
    line-height: 2vw;
    padding-top: 2.5vw;
    margin-left: 50vw;
    color:#c1c1c1;
}
main div:nth-of-type(4){
    height: 2vw;
    margin-top: 4.1vw;
    margin-left: 50vw;
    width: 10.9vw;
    background-color: #135ec5;
    color:white;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1.5vw;
    padding-top: 1vw;
    cursor:pointer;
}
main div:nth-of-type(5){
    clear:both;
    width: 95vw;
    height: 27.4vw;
    background-color: #135ec5;
    margin:0px;
}
main p{
    font-size: 3.8rem;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    text-align: center;
}
main p+div{
    width: 10.8vw;
    height: 2vw;
    margin-top: 3.6vw;
    margin-left: 44.4vw;
    background-color: #135ec5;
    color:white;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1.7vw ;
    border: 0.2vw solid white;
    padding-top: 1vw;
    cursor:pointer;
}
main div+img{
    width: 31.5vw;
    margin-top: 7vw;
    margin-left: 32.9vw;
}
/* -------------------------footer------------------ */
footer{
    width: 95vw;
    height: 125vw;
    background-color: white;
    overflow: auto;
}
/* --------left block-------- */
.lef_block{
    width: 22.7vw;
    height: 28.8vw;
    margin-top: 7vw;
    margin-left: 9.1vw;
    background-color: white;
    text-align: center;
    float:left;
}
#bl_up{
    height: 10vw;
    background-color: blue;
}
#fresh{
    width: 4vw;
    height: 1.2vw;
    display: inline-block;
    background-color: white;
    border-radius: 0.7vw;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color:#135ec4;
    padding-top: 0.6vw;
    margin-top: 1.5vw;
    margin-left: 17vw;
}   
.lef_block img{
    width: 14vw;
    margin-top: -2.2vw;
}
.lef_block div:nth-of-type(2){
    font-size: 1.9rem;
    font-weight: bold;
    margin-top: 2.1vw;
}
.lef_block div:nth-of-type(3){
    font-size: 0.8rem;
    color:#135ec5;
    margin-top: 0.96vw;
}
.lef_block div:nth-of-type(4){
    text-align: left;
    margin-top: 2vw;
}
.lef_block span:first-of-type{
    font-size: 1.9rem;
    font-weight: bold;
    margin-left: 2.6vw;
    color:#16ad2c;
}
.lef_block span:last-of-type{
    width: 9.7vw;
    height: 1.7vw;
    padding-top: 0.8vw;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 2vw;
    color:white;
    background-color: #e2e2e2;
    border-radius: 17.7vw;
    cursor:pointer;
}
/* --------right block-------- */
.rig_block{
    width: 48vw;
    height: 35vw;
    margin-top: 7.7vw;
    margin-right: 9.2vw;
    background-color:white;
    float: right;
    overflow: hidden;
}
#rs{
    width: 24vw;
    height: 35vw;
    float:right;
    background-color: #135ec4;
}
#rs div{
    width: 4.3vw;
    height: 1.2vw;
    padding-top: 0.6vw;
    margin-top: 3vw;
    margin-left: 16.2vw;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color:#135ec4;
    font-size: 0.8rem;
    text-transform: uppercase;
    background-color: white;
    border-radius: 0.76vw;
}
#rs img{
    width: 31vw;
    margin-left: -2.3vw;
    padding-top: 3.8vw;
}
.foot_dots{
    width: 7.3vw;
    height: 0.5vw;
    list-style-type: none;
    margin-left: 9.6vw;
    margin-top: 3.5vw;
}
.foot_dots li{
    float:left;
    margin-right: 1vw;
    cursor: pointer ;
}
.foot_dots li:nth-child(2)::before{
    display: inline-block;
    content: "";
    width: 0.5vw;
    height: 0.5vw;
    margin-top: 0.3vw;
    background-color: white;
    border-radius: 50%;    
}
.foot_dots li:nth-child(1)::before, .foot_dots li:nth-child(3)::before{
    display: inline-block;
    content: "";
    width: 0.3vw;
    height: 0.3vw;
    background-color: #1550a1;
    border-radius: 50%; 
}
/*--------------------------------*/
#ls>div{
    font-size: 1rem;
    margin-top: 3vw;
    margin-left: 3vw;
    font-weight: bold;
}
#ls>div>span:first-of-type{
    padding-top: 0.45vw;
    font-size: 1rem;
    color:#e0e0e0;
}
#ls>div>span:nth-of-type(2){
    padding-left: 9.3vw;
    font-size: 1.75rem;
    color:green;
}
#ls div:nth-of-type(2){
    font-size: 1.9rem;
    color:#135ec4;
}
#ls div:nth-of-type(3){
    width: 16vw;
    height: 8vw;
    text-align: justify;
    line-height: 2.1vw;
    color:#e0e0e0;
    font-weight: normal;
}
#ls div:nth-of-type(4){
    width: 10.8vw;
    height: 1.7vw;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding-top: 1vw;
    background-color: #135ec4;
    border-radius: 1.5vw;
    cursor: pointer;
}
/* --------bottom block-------- */
.bot_block{
    clear:both;
    width: 85vw;
    height: 43.7vw;
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 7.7vw;
    margin-left: 10vw;
    background-color: white;
}
.bot_block div{
    margin: 0px;
    padding: 0px;
}
.bot_block ul{
    padding-left: 2.4vw;
    list-style: none;
}
.bot_block>ul:first-of-type li:nth-of-type(2){
    background-image: url('../img/pin.png');
    background-repeat: no-repeat no-repeat;
    background-position-x: right;
}
.bot_block>ul:first-of-type li:not(li:nth-child(2)){
    opacity:0.5;
}
.foot_list li{
    width: 18vw;
    height: 2.5vw;
    margin-right: 2.4vw;
    float:left;
    border-bottom: 0.2vw solid black;
}
.foot_car_labels{
    width: 95vw;
    height: 3.6vw;
    padding-top: 6.2vw;
    list-style-type: none;
}
.foot_car_labels li{
    width: 4.4vw;
    float:left;
    padding-right: 7.6vw;
}
.foot_car_labels li>img:not(img:nth-child(5)){
    height: 3vw;
}
#foot_chevr{
    height: 2.1vw;
}
.foot_car_labels li:not(li:nth-child(3)){
    opacity: 0.5;
}
.foot_car_labels li:last-of-type{
    padding-right: 0px;
}
footer div:nth-of-type(3)>ul:nth-of-type(3){
    opacity: 0.5;
}
/* --------Hide advanced search------- */
footer div:nth-of-type(3)>div:first-of-type{
    clear:left;
    width: 9.4vw;
    height: 0.86vw;
    padding-top: 0.6vw;
    font-size: 0.75rem;
    text-align: center;
    margin-top: 5.8vw;
    margin-left: 32.2vw;
    background-color: #135ec5;
    border-radius: 20px 20px 0 0;
    color:white;
    cursor: pointer;
}
/* ----------bot_block_blue_part--------------- */
.bot_block_blue{
    width: 95vw;
    height: 19vw;
    margin: 0px;
    background-color: #135ec5;
}
.bot_block_blue ul{
    padding-top: 3.7vw;
    margin: 0px;
    font-size: 1.5rem;
    color:white;
}
.bot_block_blue>ul:nth-of-type(2){
    margin-top: 1.1vw;
}
.bot_block_blue li{
    width: 18vw;
    height: 2.5vw;
    margin-right: 2.4vw;
    float:left;
    border-bottom: 0.1vw solid black;
}
.bot_block_blue ul:first-of-type>li:not(li:nth-child(1)){
    opacity:0.5;
}
.bot_block_blue ul:nth-of-type(2) li{
    opacity:0.5;
}
#but_src{
    width: 10.3vw;
    height: 1.8vw;
    padding-top: 1vw;
    margin-top: 4.6vw;
    margin-left: 32vw;
    color:#135ec5;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    border-radius: 1.3vw;
}
